<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .blog-post {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1 class="text-center mb-4">My Blog</h1>
        <div class="row">
            {% for post in posts %}

                <div class="col-md-8 offset-md-2">
                    <div class="blog-post">
                        <h2>{{ post.title }}</h2>
<img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
                        <p class="text-muted">{{ post.created_date }}</p>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
{#<div class="d-flex justify-content-between align-items-center">#}
   <div class="row mt-3">
        <div class="col-md-8 offset-md-2">
            <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
        </div>
    </div>
            {% endfor %}


        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-ZftgSlW6w/nkIr/lTtk1qawzylt4y6VbxjqAv2rjPnrUnn6KHyV4u+nvQJQQwYBT" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk5WVa+54P7L4ahD9TpBv5VCTtF5Ks2lwK1" crossorigin="anonymous"></script>
</body>
</html>
